/* bg img & purple overlay */
.container {
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("bookshelf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.overLay {
  position: absolute;
  background-color: #5c067f;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 25%;
}
/* img & form container */
.mainContainer {
  margin-top: 50px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  width: 65vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.btnsContainer {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -47px;
  left: 0;
}
.btns {
  border-radius: 3px;
  width: 20%;
  height: 45px;
  /* margin-bottom: 20px !important; */
  border: 1px solid rgba(83, 7, 104, 0.439);
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  background: linear-gradient(90deg, #12001a, #d8a2ea, rgb(236, 223, 241));
}
.btnsActive {
  border-radius: 3px;
  width: 25%;
  height: 55px;
  text-align: center;
  background: linear-gradient(90deg, #fcd1ff, #dbdbdb, rgb(236, 223, 241));
  border: 5em;
  outline: none;
  padding: 0.7em 2em;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.62);
}
@media screen and (max-width: 600px) {
  .btns {
    width: 50%;
  }
  .btnsActive {
    width: 50%;
  }
  .mainContainer {
    width: 90vw;
  }
}

@media screen and (min-width:601px) and (max-width: 768px) {
  .mainContainer {
    width:90vw;
  }
  .btns {
    width: 45%;
  }
  .btnsActive {
    width: 45%;
  }
}
@media screen and (min-width:768px) and (max-width:1024px) {
  .mainContainer {
    width:95vw;
  }
  .btns {
    width: 45%;
  }
  .btnsActive {
    width: 45%;
  }
}
