img {
  width: 100%;
  height: 85vh;
}
.containerItems {
  position: relative;
  color: white;
}
.img-container {
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.img-container img {
  transform: scale(1.3);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8d27ae;
  opacity: 0.7;
  filter: brightness(50%);
}
.css-1m9128y {
  margin-top: 15px !important;
}
.container-items {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15%;
  width: 35%;
  height: 60%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
h1 {
  font-weight: 400px;
}
.promo-container {
  display: flex;
}
.p-two {
  width: 300px;
  height: 35px;
  background-color: gray;
  border-radius: 25px;
  opacity: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.p-one {
  background-color: #d9176d;
  width: 120px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: -23px;
  z-index: 10;
}
.CheckButton {
  background-color: #8d27ae !important;
  color: white !important;
  width: 50%;
  margin-top: 5% !important;
}
.price {
  color: #a757bf;
  font-weight: bold;
  border: 1px #8f8f8f solid;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.price:hover {
  color: white;
  background-color: #a757bf;
}

.features {
  background-color: #e3e3e3;
}
.icon img {
  width: 65px;
  height: 65px;
}
.feature {
  margin: 10px;
}
.icon img {
  transition: all 0.6s ease;
}
.icon img:hover {
  transform: scale(1.07);
}

/* Mobile */
@media (max-width: 600px) {
  img {
    width: 100%;
    height: 65vh;
  }
  .container-items {
    height: 80%;
  }
  .css-1m9128y {
    margin-top: 5px !important;
  }
}

/* Tabletes */
@media (min-width: 601px) and (max-width: 900px) {
  img {
    width: 100%;
    height: 75vh;
  }
  .container-items {
    height: 60%;
  }
  .css-1m9128y {
    margin-top: 10px !important;
  }
}

/* Desktops */
@media (min-width: 901px) and (max-width: 1200px) {
  img {
    width: 100%;
    height: 85vh;
  }
  .css-1m9128y {
    margin-top: 15px !important;
  }
}

/* Large Devices */
@media (min-width: 1201px) {
  /* Your CSS rules for devices larger than 1201px wide */
}
